/* @keyframes gradient-move {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.animated-gradient {
   background: linear-gradient(-45deg, #93c5fd, #f9a8d4, #c4b5fd, #fcd34d);
    background-size: 600% 600%;
    animation: gradient-move 15s ease infinite;
} */